{% extends 'dashboard/dashboard.html' %} {% block content %}
<div class="dashboard-card">
    <div class="d-flex flex-row justify-content-around">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Pengguna Aplikasi ({{ date_range }})</h6>
                <p style="font-size:13px">Menunjukkan jumlah total pengguna yang telah menggunakan aplikasi sesuai data yang di upload.</p>
                <hr />
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 icon-card">
                    <i class="lni lni-users"></i>
                    <div class="card-field">
                        {{ num_users }}
                        <p>Total Pengguna</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Transaksi Aplikasi ({{ date_range }})</h6>
                <p style="font-size:13px">Menunjukkan jumlah total pembelian yang berhasil yang telah terjadi dalam aplikasi sesuai data yang di upload.</p>
                <hr />
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 icon-card">
                    <i class="lni lni-cart-full"></i>
                    <div class="card-field">
                        {{ transaction_count }}
                        <p>Total Transaksi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
