{% extends 'dashboard/dashboard.html' %} {% block content %}
  <aside id="sidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button"><i class="lni lni-grid-alt"></i></button>
      <div class="sidebar-logo">
        <a href="{% url 'dashboard' %}">Prediksi</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a href="{% url 'dashboard' %}" class="sidebar-link">
          <i class="lni lni-home"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a href="{% url 'user_journey' %}" class="sidebar-link">
          <i class="lni lni-map"></i>
          <span>User Journey</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a href="{% url 'upload_dataset' %}" class="sidebar-link">
          <i class="lni lni-calendar"></i>
          <span>Filter Waktu</span>
        </a>
      </li>
    </ul>
  </aside>
{% endblock %}
