{% extends 'user_journey/user_journey.html' %} {% block content %}
  <div class="chart-container">
    <canvas id="clusterFrequencyChart" style="height: 600px;"></canvas>
    <div class="mt-3">
      <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th>Nama Cluster</th>
            <th>Jumlah Pengguna</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cluster_frequencies_dua %}
            <tr>
              <td class="text-center">Cluster {{ item.cluster }}</td>
              <td class="text-center">{{ item.count }} dari {{num_users}} Pengguna</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
